app/resources/fonts/
**/libs/vendor/
**/js/vendor/
**/lib/*.js
*.md
package-lock.json
tailwind.css
app/resources/libs/Icestudio/Crypto/SHA-256.js
app/resources/plugins/icerok/css/*.min.css
Gruntfile.js
